<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    hello
  </body>

  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase.js"></script>
  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyBtP2zw0rwI78-lyM3zgOebapAbb5_zUUk",
      authDomain: "portfolio-b23c5.firebaseapp.com",
      projectId: "portfolio-b23c5",
      storageBucket: "portfolio-b23c5.appspot.com",
      messagingSenderId: "545823328957",
      appId: "1:545823328957:web:3afc7fada56196816ac5d4",
    };

    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    console.log(app);
  </script>
</html>
