.footer-area {
  background: #091020;
  border-radius: 10px 10px 0 0;
  padding: 30px 0;
}

.footer-area .wrapper {
  padding: 0 50px;
}

.footer-area .logo a img {
  max-height: 50px;
  margin-bottom: 20px;
}

.footer-area .social-media-inner {
  justify-content: flex-start !important;
  margin: 0 auto;
  width: auto;
}

.footer-area .social-media-inner li {
  margin: 6px;
}

.footer-area .social-media-inner li a {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 16px;
  border: 2px solid rgba(198, 201, 216, 0.75);
  color: rgba(198, 201, 216, 0.75);
  border-radius: 100%;
  font-size: 14px;
  transition: all 0.2s ease;
}

.footer-area .social-media-inner li i {
  margin: 0 !important;
}

.footer-area .social-media-inner li a:hover {
  transform: translateY(-10px);
  background-color: #fd4900;
  border-color: #fd4900;
  color: #fff !important;
}

.footer-area a {
  font-weight: 700;
  color: #fd4900;
}

.footer-area p {
  color: #757575;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-area .social-media-inner li a {
    height: 45px;
    width: 45px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .footer-area .logo {
    display: flex;
    justify-content: center;
  }
}
